public/assets/workflows/Search agent.json
{
  "name": "Search",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "search"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        48
      ],
      "id": "10b6652d-24a4-40c4-b731-8068d97af021",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        256
      ],
      "id": "47a97d9f-f088-4a8e-b0c8-228485a54254",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "tkl5QduqNOiC9o6h",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.search }}",
        "options": {
          "systemMessage": "=You are an Agent searching the internet for what someone requests.\n\nThe search should be very detailed.\n\nThe goal is to retrieve as much relevant information as possible for the user about the topic being searched.\n\nSubmit your search to Search for Recent Information using the searchTopic parameter.\n\nFormat your response in four detailed paragraphs."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        48
      ],
      "id": "48408a07-e19e-4509-878d-be8a3129a017",
      "name": "Search Agent"
    },
    {
      "parameters": {
        "query": "={{ $json.search }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        608,
        256
      ],
      "id": "be4a0623-e901-4721-8a7b-2aa01fca8bcd",
      "name": "Search Tool",
      "credentials": {
        "tavilyApi": {
          "id": "mVyIG2dynbr8WJp2",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "35b45054-5b44-4450-b928-db77f10934b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ac6bca7b4bce5dc8d15de689b3a41537b6d6d9b8a2830275338605f635aed9d"
  },
  "id": "aYHkWpNZEkuREAs8",
  "tags": []
}